body {
    margin: 0;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }

  .master {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .gif {
    margin-bottom: 20px; /* Add space between gif and buttons */
  }

  .buttons {
    display: flex;
    flex-direction: row; /* Stack buttons vertically */
    align-items: center;
  }

  .yes,
  .no {
    margin: 10px; /* Add space between yes and no buttons */
  }

  #btn_yes{
    background-color: greenyellow;
  }
  #btn_no{
    background-color: brown;
  }

  #btn_yes,
  #btn_no {
    width: 100px; /* Set your desired width */
    height: 40px; /* Set your desired height */
  }
